/* Estilo general del contenedor principal */
body {
  background-color: #1b1b1b; /* Fondo oscuro moderno */
  color: #ededed; /* Texto claro para buen contraste */
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 3rem;
  color: #ffffff; /* Blanco */
  margin: 20px 0;
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
  color: #ffffff;
  margin-top: 30px;
  text-align: left;

  display: inline-block;
  padding-bottom: 5px;
}

p {
  text-align: center;
  font-size: 1.4rem;
  margin: 10px 0 20px;
  color: #c0c0c0;
}

/* Listas sin viñetas */
ul {
  list-style-type: none; /* Elimina las viñetas */
  margin: 20px 0;
  padding-left: 0;
}

li {
  font-size: 1.2rem;
  margin-bottom: 10px;
  line-height: 1.6;
  color: #d3d3d3;
}

/* Estilos específicos para Portafolio y Footer */
h2 + ul {
  margin-bottom: 30px;
}

/* Enlaces y botones */
a {
  text-decoration: none;
  color: #ff4500;
  transition: color 0.3s ease;
}

a:hover {
  color: #d33600; /* Rojo más oscuro al pasar el cursor */
}

/* Resaltar el título de las secciones */
h2::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #ff4500;
  margin: 5px auto 0;
}

.container-info {
  display: flex; /* Hace que los divs se muestren en línea */
  justify-content: center; /* Distribuye los divs de forma equitativa */
  border: 50px;
  text-align: justify;
  gap: 80px;
}

.carousel-container .carousel .slide img {
  max-height: 580px; /* Aumenta la altura máxima */
  width: 100%;
  object-fit: contain; /* Cambia de 'cover' a 'contain' */
  background-color: white; /* Añade fondo blanco para imagenes con transparencia */
}

.carousel-container {
  max-width: 1200px; /* Ancho máximo del carrusel */
  margin: 0 auto; /* Centrar el carrusel */
}

/* Añade estos estilos adicionales para centrar las imagenes */
.carousel-container .carousel .slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel .slide .legend {
  bottom: 20px;
  width: 700px;
  left: 66%;
}
